h1 {
    color:red;
    font-size:200px;

}


img:hover {
    
    background-color:gold;
}
.bacon {
    background-color: green;
}
.noob
{
    background-color: red;
}
.tae {
    border-radius: 100%;
}

#Heading {
    color: blue;
}